 <div class="container login">

 <div class="card py-4">
        <h4 class="text-center">Login</h4>
 <div>
<div class="card-body">          
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> <fa-icon  [icon]="faEnvelope"></fa-icon></span> 
            </div>
                <input type="text" class="form-control" placeholder="Email" #email required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">   
                <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
            </div>
                 <input type="password" class="form-control" placeholder="Password" #password required>
        </div>
                <button class="btn btn-primary btn-block" type="submit" (click)="login(email.value,password.value)">Login</button>
        <div class="d-flex p-3 justify-content-between">
                <a routerLink="/register">Register</a>
                <a  routerLink="/forgot-password" >Forgot Password?</a>
        </div>
    </div>    
    </div>       
 </div>        

 

