<div class="container">
  <div class="card">
  <div class="card-header"></div>
  <div class="card-body">
   <div class="col-sm-4 mt-4">
      <input type="text" class="form-control" placeholder="Search By First Name" [(ngModel)]="searchTerm">
    </div>
    <div class="table-responsive"> 
    <table class="table mt-4 border" >
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Update</th>   
            <th scope="col">Delete</th>        
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers | async ; index as i ">
            <th scope="row">{{i+1}}</th>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.dateOfBirth | date}}</td>
            <td><button class="btn btn-info" [routerLink]="['/edit',customer.id]">Edit</button></td>
            <td><button class="btn btn-danger" (click)="onDeleteCustomer(customer.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>   
    </div>  
    
</div>
</div>
</div>
