<div class="container cardSpace">
    <div class="card py-4">
        <h4 class="text-center">Register</h4>
   
    <div class="card-body">
            <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <fa-icon  [icon]="faEnvelope"></fa-icon></span>  
                    </div>
                    <input type="email" class="form-control" placeholder="Email" #email required>
                </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">   
                         <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
                        </div>
                    <input type="password" class="form-control" placeholder="Password" #password required>
                    </div>
                    <button class="btn btn-color btn-block" type="submit">Register</button>
                <div>
                    <p class="text-center py-3">Already have an account? <a routerLink='/login'>Login </a></p>
                </div>
                </form>
            </div>       
    </div> 
          
    <!-- <h3 class="mb-3">Sign Up Today</h3>
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text"> <fa-icon  [icon]="faUser"></fa-icon></span> 
            </div>
            <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">   
                <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
            </div>
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Submit</button>

    </form> -->
<!-- </div> -->

