<div class="container">
    <div class="modal-header">
        <h4 class="modal-title">Sign Up Today</h4>
        <button type="button" class="close" (click)="activeModal.dismiss('cross click')">
          <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <form>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <fa-icon  [icon]="faUser"></fa-icon></span> 
                    </div>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">   
                            <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
                        </div>
                    <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </form>
    </div>
          
    <!-- <h3 class="mb-3">Sign Up Today</h3>
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
               <span class="input-group-text"> <fa-icon  [icon]="faUser"></fa-icon></span> 
            </div>
            <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">   
                <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
            </div>
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Submit</button>

    </form> -->
</div>
