<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CRM App</title>
</head>
<body> 
  
  <!-- NAVBAR -->
<nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark" id="main-nav">
    <div class="container">
      <a href="#" class="navbar-brand">CRM</a>
      <button class="navbar-toggler" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{'show':navbarOpen}">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" >
              <a  class="nav-link" routerLink='/home'>Home</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
            
            <li class="nav-item" *ngIf = "authService.currentUser | async else login">
              <a class="nav-link" (click)="logOut()" >Logout</a>
            </li>
            <!-- <li class="nav-item" *ngIf = "!authService.currentUser | async"  >
              <a class="nav-link" routerLink='/login' >Login</a>
            </li> -->
            <!-- <ng-template #logout>
              <li class="nav-item" >
                <a class="nav-link" (click)="logOut()" >Logout</a>
              </li>
            </ng-template> -->
            <ng-template #login>
              <li class="nav-item" >
                <a class="nav-link" routerLink='/login' >Login</a>
              </li>
            </ng-template>
             
          </ul>
      </div>
    </div>
  </nav> 

<router-outlet></router-outlet>
<!-- <app-home></app-home> -->

  <!-- FOOTER  -->
<footer id="footer" class="bg-dark p-3 mt-4">
<div class="container">
  <div class="row">
    <div class="col text-center text-white">
        <p>Copyright &copy;
            <span id="year"></span>
        </p>
    </div>
  </div>
</div>
</footer>
</body>
</html>




