
<div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <div *ngIf="btnDisable" class="text-center text-success">Form has been Submitted !</div>
            <div class="col-sm-4">
                <form (ngSubmit)="onSubmit()" [formGroup]="customerForm">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" class="form-control" name="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && customerForm.get('firstName').errors }">
                        <div *ngIf="submitted && customerForm.get('firstName').errors" class="invalid-feedback">
                            <div *ngIf="customerForm.get('firstName').errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="firstName" class="form-control" name="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && customerForm.get('lastName').errors }">
                        <div *ngIf="submitted && customerForm.get('lastName').errors" class="invalid-feedback">
                            <div *ngIf="customerForm.get('lastName').errors.required">Last Name is required</div>
                        </div>                      
                    </div>
                    <!-- <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" class="form-control" name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && customerForm.get('email').errors }">
                            <div *ngIf="submitted && customerForm.get('email').errors" class="invalid-feedback">
                                <div *ngIf="customerForm.get('email').errors.required">Email is required</div>
                            </div>                      
                    </div>
                    <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="text" id="mobile" class="form-control" name="mobile" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && customerForm.get('mobile').errors }">
                            <div *ngIf="submitted && customerForm.get('mobile').errors" class="invalid-feedback">
                            <div *ngIf="customerForm.get('mobile').errors.required">Mobile is required</div>
                            </div>                      
                    </div> -->
                    <div class="form-group">
                        <label for="dateOfBirth">Date of Birth</label>
                        <input type="text" placeholder="Datepicker" class="form-control" name="dateOfBirth" formControlName="dateOfBirth" bsDatepicker
                            placement="right">
                    </div>
                    <div class="form-group">
                       <label for="comment">Comment</label>
                       <textarea class="form-control" name="comment" id="comment" cols="5" rows="5"></textarea>
                    </div>
                    <div>
                        <button class="btn btn-success" type="submit" [disabled]="btnDisable">Submit</button>
                    </div>
                </form>
            </div>
         </div>
</div>