/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family: 'Poppins', sans-serif;
}

.cardSpace{
    padding-top:135px;
    max-width:600px;
    padding-bottom: 100px;
}

.btn-color{
    background-color:#15cd72;
    border: none;
    color:#eee;
}



  