 <!-- HOME SECTION -->

<header id="home">
    <div class="row inner-home">
      <div class="col">
        <h2>CRM Software</h2>
        <p class="lead">Build everlasting Customer Relationship with the smartest CRM</p>
      </div>
    </div>
</header> 

<!-- ABOUT SECTION -->
 <section id="about py-5">
 <div class="container inner-about">
   <div class="row">
      <div class="col-md-6">
       <img src="../assets/img/explore-section1.jpg" alt="Explore" class="img-fluid rounded-circle">
      </div>
     <div class="col-md-6 mt-3">
        <h3>Explore & Connect</h3>
        <div class="d-flex">
           <div>
             <fa-icon  [icon]="faCheckCircle"></fa-icon>
           </div>
           <div>
              Reach customers across every channel
           </div>
        </div>
        <div class="d-flex">
            <div>
              <fa-icon  [icon]="faCheckCircle"></fa-icon>
            </div>
            <div>
                Get real time notifications
            </div>
         </div>
         <div class="d-flex">
            <div>
              <fa-icon  [icon]="faCheckCircle"></fa-icon>
            </div>
            <div>
                Measure and Manage sales performance
            </div>
         </div>
     </div>     
   </div>
 </div>
</section>  
