<div class="container customerSpace">
        <nav ngbNav #nav="ngbNav"  class="nav-tabs">
            <ng-container ngbNavItem >
             <a ngbNavLink>Add Customers</a>        
             <ng-template ngbNavContent>
                    <app-customer-add></app-customer-add>
             </ng-template>
            </ng-container>
    
            <ng-container ngbNavItem >
                <a ngbNavLink>List Customers</a>        
                <ng-template ngbNavContent >
                        <app-customer-list></app-customer-list>
                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class=""></div>  
    </div>


<!-- <div class="container">
    <div>
        <ul ngbNav #nav="ngbNav" class="nav-tabs" >
            <li [ngbNavItem]="1"  >
                <a ngbNavLink routerLink="/add">Add Customer</a>        
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink routerLink="/list">List Customer</a>        
            </li>          
        </ul>
    </div>    
<div>
        <router-outlet></router-outlet>  
</div>
   
</div> -->